html {
    margin: 0;
    padding: 0;
}


.inner_text {
    display: none;
}

#title {
    display: block;
    height: 72px;
    width: 344px;
    background: url("img/sugarflower.png"); 
    background-size: 100%;
}

h2 {
    margin-top: 20px;
    border-top: 1px solid #aaa;
    padding-top: 20px;
}

#menu {
    /*touch-action: pan-x pan-y;*/
    display: block;
    position: absolute;
    width: 200px;
    height: 100vh;
    box-sizing: border-box;
    background: #e7e7e7;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: scroll;
    padding-top: 10px;
    padding-left: 10px;
    user-select: none;
}
#menu p {
    margin: 0;
    display: block;
}
#menu ul {
    list-style: none;
    padding-left: 1em;
    margin: 0;
}
#menu li::before {
    content: "";
    display: inline-block;
    height: 1em;
    width: 1em;
    background-size: contain;
    background-image: url("img/doc.svg");
    background-repeat: no-repeat;
    margin: 0 0em -0.25em -1em;
}
#menu .folder {
    display: block;
    margin-left: 1em;
    cursor: pointer;
}
#menu .folder.closed {
    display: none;
}
#menu p, #menu li {
    cursor: pointer;
}
#menu p.label.opened::before {
    content: "";
    display: inline-block;
    height: 1em;
    width: 1em;
    background-size: contain;
    background-image: url("img/arrow-bottom.svg");
    background-repeat: no-repeat;
}
#menu p.label.closed::before {
    content: "";
    display: inline-block;
    height: 1em;
    width: 1em;
    background-size: contain;
    background-image: url("img/arrow-right.svg");
    background-repeat: no-repeat;
}


#content {
    box-sizing: border-box;
    overflow: auto;
    /*touch-action: none;*/
    display: block;
    position: absolute;
    width: calc(100% - 200px);
    height: 100%;
    left: 200px;
    top: 0px;
    padding: 20px;
}

#splitter {
    /*touch-action: pan-x;*/
    position: absolute;
    display: block;
    left: 200px;
    top: 0px;
    height: 100%;
    width: 4px;
}
#splitter:hover {
    background: #5f5f5f;
    cursor: w-resize;
}


::-webkit-scrollbar {
    width: 6px;
	height: 6px;
}
::-webkit-scrollbar-track, ::-webkit-resizer, ::-webkit-scrollbar-corner {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background: #b5b5b5;
    cursor: pointer;
}


.img_description {
    display: none;
}
.imgbtn {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #0000d0;
    margin-right: 8px;
}
.imgbtn:hover {
    background: #7070f0;
}
#backup_image_block {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}


/*
#convert_userdata {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
*/
#convert_userdata h3 {
    margin: 0;
}
#convert_userdata #fileInput {
    display: none;
}
#convert_userdata #FileLabel {
    font-size: 9pt;
    display: inline-block;
    margin: 0;
    padding: 0px 8px;
    background-color: #eee;
    color: black;
    border: 1px solid #555;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 18px;
}
#convert_userdata #copy {
    position: relative;
    display: inline-block;
    top: 5px;
    height: 18px;
    width: 18px;
    margin: 0;
    background-image: url("data:image/gif;base64,R0lGODlhEgASAIABAAAAAD1CYCH+EUNyZWF0ZWQgd2l0aCBHSU1QACH5BAEKAAEALAAAAAASABIAAAIrjI+pBu3fFFhnJktxxEsz+oWcVIVZGYwXqiJeCsJi/LaoDOVvvIKqDuHxCgA7");
    cursor: pointer;
}
#convert_userdata #result {
    color: orange;
}

#convert_userdata .description {
    font-size: 80%;
    color: #3a3;
    margin: 0;
    padding: 0;
}
