* {
	margin:0;
	padding:0;
	color: #555;
	}

body {
	background:#333333;
	background-image: url("./img/bg.png");
	}

#main {
	position: relative;
	top: 30px;
	width: 98%;
	}

#main p {
	display:block;
	width: 720px;
	margin-left:auto;
	margin-right:auto;
	}

#p5 {
	display: block;
	width: 720px;
	height: 400px;
	margin-left:auto;
	margin-right:auto;
	}

button {
	color: #222222;
	padding-left:20px;
	padding-right:20px;
	}